In [43]:
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

In [44]:
df=pd.read_csv('gdp.csv')

In [45]:
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [46]:
final_data=[]
for country_name in df['Country Name'].unique():
    df_pr=df[df['Country Name']==country_name]
    data=df_pr.values
    
    gdp_change=[0]
    
    for i in range(1,len(data)):
        prev=data[i-1][3]
        cur=data[i][3]
        gdp_change.append(round(((cur-prev)/prev)*100,2))
        
    df_pr=df_pr.assign(GDP=gdp_change)
    final_data.append(df_pr)
df=pd.concat(final_data,axis=0)
df

      Country Name Country Code  Year         Value    GDP
0       Arab World          ARB  1968  2.576068e+10   0.00
1       Arab World          ARB  1969  2.843420e+10  10.38
2       Arab World          ARB  1970  3.138550e+10  10.38
3       Arab World          ARB  1971  3.642691e+10  16.06
4       Arab World          ARB  1972  4.331606e+10  18.91
...            ...          ...   ...           ...    ...
11502     Zimbabwe          ZWE  2012  1.424249e+10  17.72
11503     Zimbabwe          ZWE  2013  1.545177e+10   8.49
11504     Zimbabwe          ZWE  2014  1.589105e+10   2.84
11505     Zimbabwe          ZWE  2015  1.630467e+10   2.60
11506     Zimbabwe          ZWE  2016  1.661996e+10   1.93

[11507 rows x 5 columns]

In [47]:
lst=['ITA','CHN','IND','USA']
dfs=[]
for i in lst:
    dfs.append(df[df['Country Name']==i])
    
    df_pr=pd.concat(dfs,axis=0)

In [48]:
df_pr['Country Name'].unique()

array([], dtype=object)

In [49]:
lst

['ITA', 'CHN', 'IND', 'USA']

In [42]:
'|'.join(lst)+'.html'

'ITA|CHN|IND|USA.html'

In [55]:

def compare_gdp(lst):
    dfs=[]
    for i in lst:
        dfs.append(df[df['Country Name']==i])
        
        df_pr=pd.concat(dfs,axis=0)
        
    fig=px.line(df_pr,x='Year',y='Value',title='GDP comparison - '+'|'.join(lst),color='Country Name')
    pyo.plot(fig,filename='|'.join(lst)+'.html')

In [56]:
compare_gdp(['ITA','CHN'])

OSError: [Errno 22] Invalid argument: 'ITA|CHN.html'